@model IndexViewModel




@{
    ViewData["Title"] = "Enregistrer BluRay Page";
}
    
      <form action="EnregistrerBluRay" method="post" >
        <fieldset>
          <legend>Enregistrer BluRay</legend>
          <div>
            <label for="Titre">Titre :</label>
            <input type="text" name="Titre" value="" required/>
          </div>
          <div>
            <label for="Version">Version:</label>
            <input type="text" name="Version" value="" required/>
          </div>
         <br />
         <div>
            <label for="Duree">Durée (minutes):</label>
            <input type="number" name="Duree" value="" required/>
          </div>
         <br />
          <div>
            <label for="Acteur">Acteur:</label>
            <select multiple name="Acteur" required >
             <option value="" disabled selected>Choisir un acteur</option>
                @foreach (var item in @Model.Personnes)
                {
                    <option value=@item.Id>@item.Nom @item.Prenom</option>
                }
            </select>
          </div>
     <br />
     <div>
            <label for="Scenariste">Scénariste:</label>
            <select name="Scenariste" required>
           <option value="" disabled selected>Choisir un scénariste</option>
                @foreach (var item in @Model.Personnes)
                {
                    <option value=@item.Id>@item.Nom @item.Prenom</option>
                }
            </select>
          </div>
     <br/>
     <div>
            <label for="Realisateur">Réalisateur:</label>
            <select name="Realisateur" required>
           <option value="" disabled selected>Choisir un réalisteur</option>
                @foreach (var item in @Model.Personnes)
                {
                    <option value=@item.Id>@item.Nom @item.Prenom</option>
                }
            </select>
          </div>
     <br />
         <div>
               <label for="Date">Date de sortie:</label>
               <input type="date"  name="Date" value = "" required>
        </div>
        <br />
          <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
          </div>

           
        </fieldset>
      </form>
